---
import BaseLayout from "../layouts/BaseLayout.astro";
import fetchApi from "../lib/strapi.js";
import TalkHighlight from "../components/TalkHighlight.astro";


const talks = await fetchApi({
  endpoint: "talks",
  wrappedByKey: "data",
  // Consider adding a query to limit the number of talks or to include necessary relations
});
---

<BaseLayout>
  <section class="about">
    <h2>Welcome to STC 2024:<br> The Future of Space Travel Awaits!</h2>
    <p>Our space travel conference will take place on January 21-22, 2024,<br> Join Us in Paris and New York</p>
  </section>
  <section class="talks-highlights">
    <h2>Talks Highlights</h2>
    {talks.length > 0 ? (
      <ul class="talks-list">
        {talks.map((talk) => (
          <li key={talk.id} class="talk-item">
            <TalkHighlight talk={talk} />
          </li>
        ))}
      </ul>
    ) : (
      <p>No talks to display at the moment.</p>
    )}
  </section>
  <section class="speakers-highlights">
    <h2>Speakers Highlights</h2>
    <!-- Additional content -->
  </section>
</BaseLayout>

<style>
	.about, .talks-highlights, .speakers-highlights {
    margin-bottom: 2rem;
	}

	.about h2, .talks-highlights h2, .speakers-highlights h2 {
    font-size: var(--font-size-heading);
	}

	.about p, .talks-highlights p, .speakers-highlights p {
    font-size: var(--font-size-paragraph);
	}

	.about h2, .about p {
		color: var(--color-secondary);
	}

	.about {
		text-align: center;
		height: 100vh;
		display: flex;
		gap: 2rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('../assets/space-back.jpg');
		background-repeat: none;
		background-size: 100%;
	}

	.talks-highlights {
    display: flex;
    flex-direction: column;
		background-color: var(--color-secondary);
		color: var(--color-primary);
		padding: 2rem;
	}

	.talks-list {
		display: flex;
    flex-direction: column;
  }
	
</style>