---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SpeakerDetailed from '../../components/SpeakerDetailed.astro';
import TalkHighlight from '../../components/TalkHighlight.astro';
import fetchApi from '../../lib/strapi';

export async function getStaticPaths() {

  const speakers = await fetchApi({
    endpoint: "speakers",
    wrappedByKey: "data",
    query: { populate: ["*", "image", "talks", "talks.image"] },
  });

  const paths = speakers.map((speaker) => ({
    params: { id: speaker.id.toString()},
    props: { speaker },
  }));

  return paths;
}

const { speaker } = Astro.props;
---

<BaseLayout>
  <SpeakerDetailed speaker={speaker}/>
  <!-- <TalkHighlight speaker={speaker.attributes?.talks.data} /> -->
  <!-- <p>{JSON.stringify(speaker.attributes?.talks)}</p> -->

</BaseLayout>
